$white: #ffffff;

@media screen and (min-width: 992px) {
  .gen-ai-main {
    .gen-ai-nav {
      display: none;
    }
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}
@media screen and (max-width: 1749px) {
  .data-driven {
    .data-driven-card {
      .inner-card {
        .card-image.out {
          margin-right: -30px;
          .out-content {
            display: none;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1399px) {
  .faq-section-main {
    .faq-arrow {
      max-width: 250px;
      left: 98%;
    }
    .accordion {
      .accordion-button {
        line-height: 1.4;
      }
    }
  }
  .hero-circle-wrapper {
    padding-right: 14%;
  }
  .lg-heading {
    font-size: 42px;
    line-height: 50px;
  }
  .hero-section {
    .shape {
      background-size: 50% 90px;
      height: 90px;
    }
  }
  .hero-circle-wrapper {
    transform: scale(0.8);
  }
  .enterprise-card {
    h6 {
      font-size: 15px;
    }
    .h6 {
      font-size: 15px;
    }
    .text {
      font-size: 14px;
    }
  }
  .offering-consulting {
    h3 {
      font-size: 42px;
      line-height: 50px;
    }
    .h3 {
      font-size: 42px;
      line-height: 50px;
    }
  }
  .gen-ai-main {
    .shape {
      background-size: 50% 90px;
    }
    .outer-section {
      display: none;
    }
  }
  .enterprise-ai-main {
    .animated-section {
      transform: scale(0.8);
      margin-top: 90px;
    }
  }

  .pricing-card-main {
    flex-wrap: wrap;
    justify-content: center;
    .pricing-card {
      width: calc(33.33% - 11px);
      &.aos-animate {
        transition-delay: 0 !important;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  .faq-section-main {
    .faq-arrow {
      display: none;
    }
  }
  .lg-heading {
    font-size: 40px;
    line-height: 48px;
  }
  header {
    .navbar-brand {
      max-width: 200px;
    }
    .contact-side {
      .btn {
        min-width: 100px;
        padding: 10px;
        font-size: 14px;
      }
    }
    .navbar-nav {
      gap: 20px;
    }
  }
  .hero-section {
    padding-top: 130px;
    .shape {
      background-size: 50% 70px;
      height: 70px;
    }
    .product-content {
      .heading-img {
        margin-bottom: -10px;
        img {
          max-width: 115px;
        }
      }
      h1 {
        font-size: 56px;
        line-height: 65px;
      }
      .h1 {
        font-size: 56px;
        line-height: 65px;
      }
    }
  }
  .hero-circle-wrapper {
    margin: 0 auto;
    padding-right: 7%;
    margin-top: 40px;
  }
  .enterprise-card {
    h6 {
      font-size: 17px;
    }
    .h6 {
      font-size: 17px;
    }
    .text {
      font-size: 16px;
    }
  }
  .offering-consulting {
    h3 {
      font-size: 40px;
      line-height: 48px;
    }
    .h3 {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .gen-ai-main {
    .shape {
      background-size: 50% 70px;
    }
    .slide-bg {
      width: 340px;
      height: 80px;
      background-position-x: center;
      .icon {
        margin-top: 11px;
        margin-left: 10.5px;
        img {
          max-width: 83%;
        }
      }
      h5 {
        margin-top: 23px;
      }
      .h5 {
        margin-top: 23px;
      }
    }
  }
  .enterprise-ai-main {
    margin: 34px 0;
    .animated-section {
      display: none;
    }
  }
  footer {
    .footer-middle {
      display: block;
      -moz-column-count: 4;
      column-count: 4;
      .single-menu-list {
        width: 100%;
        -moz-column-break-inside: avoid;
        break-inside: avoid;
        &:last-of-type {
          margin-top: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .main {
    padding-top: 140px;
  }
  .aos-animate {
    transition-delay: 0s !important;
  }
  .pricing-card-main {
    .pricing-card {
      width: calc(50% - 8px);
    }
  }
  .pricing-section-main {
    padding-bottom: 50px;
    .text {
      margin: 0 auto 25px;
    }
  }
  .faq-section-main {
    padding-bottom: 50px;
    .accordion {
      gap: 14px 0;
      margin-top: 15px;
    }
  }
  .lg-heading {
    font-size: 36px;
    line-height: 44px;
  }
  .navbar-toggler {
    border: 0;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -260px;
    height: 100dvh;
    width: 250px;
    z-index: 9999;
    background-color: $white;
    transition: all 0.3s ease-in-out;
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 0 20px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.1);
    &.show {
      right: 0;
    }
    .navbar-nav {
      padding: 0 16px;
      margin: 0 !important;
      width: 100%;
    }
    .contact-side {
      .btn {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      }
    }
  }
  .hero-section {
    padding-top: 110px;
    .product-content {
      .heading-img {
        img {
          max-width: 85px;
        }
      }
      h1 {
        font-size: 50px;
        line-height: 60px;
      }
      .h1 {
        font-size: 50px;
        line-height: 60px;
      }
    }
  }
  .hero-circle-wrapper {
    margin-top: 0;
    padding-right: 9%;
  }
  .enterprise-card {
    h6 {
      font-size: 16px;
    }
    .h6 {
      font-size: 16px;
    }
  }
  .data-driven {
    .row {
      &:nth-of-type(even) {
        .col-lg-6 {
          &:nth-of-type(1) {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }
      &:nth-of-type(odd) {
        .col-lg-6 {
          &:nth-of-type(1) {
            width: 100%;
          }
          &:nth-of-type(2) {
            width: 100%;
          }
        }
      }
    }
    .data-driven-card {
      .inner-card {
        h6 {
          font-size: 22px;
        }
        .h6 {
          font-size: 22px;
        }
        .card-image.out {
          margin: 0;
        }
        .card-image {
          img {
            width: 75%;
            display: block;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .offering-consulting {
    h3 {
      font-size: 36px;
      line-height: 44px;
    }
    .h3 {
      font-size: 36px;
      line-height: 44px;
    }
    .text {
      font-size: 16px;
    }
  }
  .talking-about {
    .talking-about-slider {
      .talking-about-card {
        .talking-about-content {
          h5 {
            font-size: 20px;
          }
          .h5 {
            font-size: 20px;
          }
        }
      }
    }
  }
  .gen-ai-main {
    .gen-ai-wrapper {
      height: -moz-fit-content;
      height: fit-content;
      padding: 20px 20px 80px;
      .row {
        flex-direction: column-reverse;
      }
      .main-slider {
        margin-top: 40px;
      }
      .slide-image {
        max-width: 100%;
        img {
          display: block;
          margin: 0 auto;
        }
      }
      .slide-content {
        h5 {
          font-size: 24px;
          margin-bottom: 8px;
        }
        .h5 {
          font-size: 24px;
          margin-bottom: 8px;
        }
        p {
          max-width: 100%;
          font-size: 16px;
          margin-bottom: 16px;
        }
      }
    }
  }
  footer {
    .footer-middle {
      .single-menu-list {
        ul {
          li {
            font-size: 14px;
          }
        }
      }
    }
  }
  .generetive-ai-main {
    .tabs-section {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
      .single-tab {
        font-size: 16px;
        padding: 10px;
      }
      .arrow-section {
        display: none;
      }
    }
    .tab-content {
      padding: 25px;
      .tab-head {
        h4 {
          font-size: 24px;
        }
        .h4 {
          font-size: 24px;
        }
      }
      .tab-body {
        p {
          font-size: 15px;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .main {
    padding-top: 120px;
  }
  .pricing-section-main {
    .text {
      max-width: 100%;
    }
    .pricing-card-main {
      .pricing-card {
        width: 100%;
      }
    }
  }
  .btn {
    font-size: 14px;
  }
  .lg-heading {
    font-size: 30px;
    line-height: 38px;
  }
  .text {
    font-size: 14px;
  }
  .hero-section {
    padding-bottom: 70px;
    .shape {
      background-size: 50% 50px;
      height: 50px;
    }
    .shape2 {
      background-size: 50% 50px;
    }
    .product-content {
      .heading-img {
        margin: 0;
        img {
          max-width: 60px;
        }
      }
      h1 {
        font-size: 44px;
        line-height: 54px;
      }
      .h1 {
        font-size: 44px;
        line-height: 54px;
      }
    }
  }
  .hero-circle-wrapper {
    margin-top: 0;
    padding-right: 12%;
  }
  .enterprise-card {
    h6 {
      font-size: 15px;
    }
    .h6 {
      font-size: 15px;
    }
    .text {
      font-size: 14px;
    }
  }
  .data-driven {
    .data-driven-card {
      .inner-card {
        h6 {
          font-size: 20px;
        }
        .h6 {
          font-size: 20px;
        }
      }
    }
  }
  .offering-consulting {
    h3 {
      font-size: 30px;
      line-height: 38px;
    }
    .h3 {
      font-size: 30px;
      line-height: 38px;
    }
    .btn-secondary {
      padding: 10px 30px;
    }
  }
  .talking-about {
    .talking-about-slider {
      .talking-about-card {
        .talking-about-image {
          max-width: 100%;
          border-radius: 10px;
          img {
            margin: 0 auto;
          }
        }
        .talking-about-content {
          margin: 30px 0 0;
          h5 {
            font-size: 18px;
          }
          .h5 {
            font-size: 18px;
          }
          .quate {
            top: -15px;
          }
        }
      }
    }
  }
  .talking-about-main-card {
    padding: 20px;
    .author-name {
      border-top-right-radius: 25px;
      padding: 10px 16px;
      h6 {
        font-size: 18px;
      }
      .h6 {
        font-size: 18px;
      }
    }
  }
  .offering-consulting-lock {
    max-width: 75%;
    display: block;
    margin: 20px auto 0;
  }
  .gen-ai-main {
    .shape {
      background-size: 50% 50px;
    }
    .gen-ai-wrapper {
      .slide-content {
        h5 {
          font-size: 20px;
        }
        .h5 {
          font-size: 20px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
  footer {
    .footer-top {
      .card-content {
        .description {
          font-size: 14px;
        }
      }
    }
    .footer-middle {
      -moz-column-count: 2;
      column-count: 2;
      padding-bottom: 20px;
      .single-menu-list {
        &:last-of-type {
          margin: 0;
        }
        &:nth-of-type(even) {
          margin-top: 20px;
        }
      }
    }
  }
  .generetive-ai-main {
    .tabs-section {
      .single-tab {
        font-size: 14px;
      }
    }
    .tab-content {
      padding: 20px;
      .tab-head {
        h4 {
          font-size: 20px;
        }
        .h4 {
          font-size: 20px;
        }
      }
      .tab-body {
        p {
          font-size: 14px;
        }
      }
    }
  }
  .faq-section-main {
    .accordion {
      .accordion-button {
        padding: 16px;
        font-size: 16px;
        gap: 10px;
      }
      .accordion-body {
        padding: 0 16px 16px;
        font-size: 14px;
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .pricing-section-main {
    .pricing-card {
      .pricing-wrapper {
        gap: 25px 0;
      }
      .plan-name {
        h6 {
          font-size: 18px;
        }
      }
      .advantage-list {
        p {
          font-size: 15px;
        }
        ul {
          li {
            font-size: 13px;
            img {
              max-width: 20px;
              max-height: 20px;
            }
          }
        }
      }
      .price-main {
        h4 {
          font-size: 26px;
        }
      }
    }
  }
  .faq-section-main {
    .accordion {
      .accordion-button {
        padding: 14px;
        font-size: 15px;
      }
      .accordion-body {
        padding: 0 14px 14px;
      }
    }
  }
  .hero-check {
    li {
      font-size: 14px;
    }
  }
  .hero-section {
    padding-bottom: 40px;
    .shape {
      background-size: 50% 35px;
    }
    .shape2 {
      background-size: 50% 35px;
    }
    .product-content {
      h1 {
        font-size: 34px;
        line-height: 44px;
      }
      .h1 {
        font-size: 34px;
        line-height: 44px;
      }
      .hero-check {
        flex-wrap: wrap;
        gap: 16px 10px;
        font-size: 14px;
      }
      .hero-button {
        .btn-primary {
          padding: 10px;
        }
        .btn-light {
          padding: 10px;
        }
      }
    }
  }
  .hero-circle-wrapper {
    margin-top: -30px;
  }
  .productivity {
    .hero-check {
      > div {
        flex-wrap: wrap;
      }
    }
  }
  .data-driven {
    .data-driven-card {
      .inner-card {
        padding: 15px 0 0 15px;
        h6 {
          font-size: 18px;
          margin-bottom: 8px;
        }
        .h6 {
          font-size: 18px;
          margin-bottom: 8px;
        }
      }
    }
  }
  .offering-consulting {
    .text {
      font-size: 14px;
    }
  }
  .gen-ai-main {
    .shape {
      background-size: 50% 35px;
    }
    .gen-ai-wrapper {
      padding: 20px 20px 50px;
    }
    .slide-bg {
      width: 100%;
      max-width: 300px;
      height: 70px;
      .icon {
        img {
          max-width: 70%;
        }
      }
      h5 {
        margin-top: 21px;
        margin-left: 8px;
        font-size: 18px;
        margin-top: 17px;
      }
      .h5 {
        margin-top: 21px;
        margin-left: 8px;
        font-size: 18px;
        margin-top: 17px;
      }
    }
  }
  footer {
    .footer-top {
      padding: 18px;
      .card-icon {
        height: 55px;
        min-width: 55px;
      }
    }
  }
  .generetive-ai-main {
    .tabs-section {
      .single-tab {
        padding: 6px 8px;
      }
    }
    .tab-content {
      padding: 16px;
    }
  }
}
@media screen and (max-width: 525px) {
  .hero-circle-wrapper {
    transform: scale(0.65);
    padding-right: 14%;
  }
  .hero-section {
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 460px) {
  .hero-circle-wrapper {
    transform: translateX(-8%) scale(0.6);
    padding-right: 16%;
  }
}
@media screen and (max-width: 425px) {
  .hero-section {
    padding-bottom: 10px;
    .product-content {
      .hero-button {
        flex-direction: column;
        .btn {
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
  .enterprise-ai-main {
    .row {
      > * {
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: 399px) {
  .hero-circle-wrapper {
    transform: translateX(-16%) scale(0.55);
    padding-right: 18%;
    margin-top: -70px;
  }
  .gen-ai-main {
    .slide-bg {
      width: 260px;
      .icon {
        margin-top: 8.5px;
        margin-left: 8.5px;
        img {
          max-width: 62%;
        }
      }
    }
  }
}
